.back {
  display: flex;
  height: 15px;
  font-size: 14px;
  vertical-align: middle;
  opacity: 0.5;
  color: black;
  margin-top: 10px;
  margin-left: 10px;
}

.card {
  background: linear-gradient(#43b0f1, #057dcd);
  width: 90%;
  height: 40vw;
  margin: 10vw auto;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 5vw;
  transition: all 0.25s linear;
  .cardText {
    display: inline-block;
    margin-top: 15vw;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
  @media (min-width: 750px) {
    width: 70%;
    height: 300px;
    font-size: 30px;
    margin: 100px auto;
    .cardText {
      margin-top: 120px;
    }
    @media (max-height: 980px) {
      width: 70%;
      height: 220px;
      margin: 50px auto;
      .cardText {
        margin-top: 85px;
      }
    }
  }
}

.optionsText {
  @media (max-width: 550px) {
    font-size: 4.3vw;
  }
}

.arrows {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  bottom: 100px;
  max-width: 550px;
  width: 90%;
  height: 0px;
  left: 50%;
  transform: translateX(-50%);
  .arrow {
    right: 10%;
    bottom: 5vh;
    width: 15vw;
    opacity: 0.8;
    @media (min-width: 500px) {
      width: 60px;
    }
  }
}
