$header-height: 13.5vw;

.header {
  width: 100%;
  background: linear-gradient(rgb(0, 37, 60), #1e3d58);
  height: $header-height;
  padding: 10px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  @media (min-width: 500px) {
    height: 65px;
  }
  .headerInside {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    @media (min-width: 900px) {
      width: 800px;
    }
  }
  .headerName {
    font-size: 6.5vw;
    @media (min-width: 500px) {
      font-size: 30px;
    }
    color: white;
  }
  .headerLogo {
    height: 9.5vw;
    width: auto;
    @media (min-width: 500px) {
      height: 46px;
    }
  }
}
.headerPlug {
  height: $header-height;
  padding: 10px 0px;
  @media (min-width: 500px) {
    height: 65px;
  }
}
