@import "Header.module";

.sectionTitle {
  margin-left: $left-marg;
  font-size: 8vw;
  margin-top: 15vw;
  color: #057dcd;
}
.blocks {
  .block {
    margin: 5vw auto auto auto;
    width: 78vw;
    height: 28vw;
    border-radius: 1vw;
    color: #1e3d58;
    font-size: 4.5vw;
    background: conic-gradient(from 37deg, #43b0f1 25%, white);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    padding: 20px;
    white-space: break-spaces;
    &:hover {
      box-shadow: 0px 0px 50px #43b0f1;
    }
  }
}
